.bg-purple{
    background-color: #551bb3;
}

.img-nav{
    width: 150px;
}

.img-card-home{
    width: 185px;
}

.clr-1{
    background-color: #268fbe;
}

.clr-2{
    background-color: #2cb8b2;
}

.clr-3{
    background-color: #3ddb8f;
}

.clr-4{
    background-color: #a9f04d;
}
